.carousel-inner img {
  margin: auto;
  width: auto;
  height: 700px;
  max-height: 700px;
}

/*.carousel-item {
    transition: transform 0.2s;
}*/


.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}

.carousel-link {
    text-align: center;
}

